resource {{ drdb_resource_name }} 
{
    protocol C;
    meta-disk internal;
    device {{ drdb_device }};
    syncer 
    {
        verify-alg sha1;
    }
##     net 
##     {
##         allow-two-primaries;
##     }
    on {{ server_active }} 
    {
        disk /dev/{{ vg_name.stdout }}/drbd-demo;
        address {{ server_active_host }}:{{ drdb_storage_port }};
    }
    on {{ server_passive }} 
    {
        disk /dev/{{ vg_name.stdout }}/drbd-demo;
        address {{ server_passive_host }}:{{ drdb_storage_port }};
    }
}